 .modal {
                       text-align: center;
                       padding: 0!important;
                   }

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* BUGRA YAZAR */
form {padding:20px;}
.info {text-transform: uppercase !important;}
.fa:hover{color:#000}
.fa-2x {font-size:1.5em;}
.fa-remove {color:red;}
.fa-pencil-square {color:#8bc34a;}
.fa-print {color:#ffc107;}
.fa-envelope {color:#2196f3;}
.fiyatverbox {    padding: 10px;border: solid 1px #e3e3e3;}
@media (max-width:768px){
    .modal-dialog {
                           overflow-y: scroll !important;
                           margin-bottom: 100%  !important;
                           margin-top: 25%  !important;
                       }
    input[type="checkbox"] { margin-left: 20px  !important;}
    div.dataTables_wrapper div.dataTables_filter input {width:100% !important;}
    #isgunu {padding: 0px !important;}
}

.pl0{
    padding-left: 0px;
}

#datatables_filter {float:left !important;}
.dt-buttons {float:right !important;}
div.dataTables_wrapper div.dataTables_filter input { margin-left: 0.5em; display: inline-block; width: auto; width: 400px; height: 40px;}













@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class^="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-container a{
    padding: 5px 0;
    display: block;
    color: #666666;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}
.all-icons h5{
    margin-top: 60px;
}
.all-icons > div > .row:first-child h5{
    margin-top: 15px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.buttons-with-margin .btn{
    margin-bottom: 5px;
}

.animated .img-rounded{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}
.animated .img-rounded img{
    width: 100%;
}





 .modal-footer.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}